{% extends 'base.html.twig' %}

{% block body %}

    {% for ad in ads %}
        <div>
            <span>
                <a href="{{ path('show_candidate_ad', {id: ad.id}) }}">
                    {{ ad.title }}
                </a>
            </span> |
            <span>{{ ad.city.name }}</span> |
            <span>{{ ad.category.name }}</span> |
            <span>{{ ad.user.email }}</span>
        </div>
        <br />
    {% endfor %}

{% endblock %}