{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {% for ad in ads %}

        <div class="container">
            <h2>
                <a href="{{ path('show_ad', {id: ad.id}) }}">
                    {{ ad.title }}
                </a>
            </h2>
            <small>{{ ad.user.username }}</small>
            <div>{{ ad.category.name }}</div>
            <p>{{ ad.shortDescription }}</p>
        </div>
        <hr />

    {% endfor %}

{% endblock %}

