{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <h1>All Categories</h1>

    {% for category in categories %}

        <span>
            | <a href="{{ path('ads_in_category', {id: category.id}) }}">{{ category.name}}</a> |
        </span>

    {% endfor %}
    {#    TODO: Fix this margin    #}
    <br />
    <br />

    <h1>Newest Ads</h1>
    {% for ad in ads %}

            <h2>
                <a href="{{ path('show_ad', {id: ad.id}) }}">
                    {{ ad.title }}
                </a>
            </h2>
            <small>{{ ad.user.username }}</small>
            <div>
                <a href="{{ path('ads_in_category', {id: ad.category.id}) }}">
                    {{ ad.category.name }}
                </a>
            </div>
            <p>{{ ad.shortDescription }}</p>
        <hr />

    {% endfor %}

{% endblock %}

