{% extends 'base.html.twig' %}

{% block body %}

    {% for ad in ads %}

        {% if ad.status.name == "STATUS_APPROVED" %}
            <h2>
                <a href="{{ path('show_ad', {id: ad.id}) }}">
                    {{ ad.title }}
                </a>
            </h2>
        {% else %}
            <h2>
                {{ ad.title }}
            </h2>
        {% endif %}
        <div>
            <strong>Category: </strong>
            <a href="{{ path('ads_in_category', {id: ad.category.id}) }}">
                {{ ad.category.name }}
            </a>
        </div>
        <p>{{ ad.description }}</p>
        <div>
            <strong>Status:</strong>
            {{ ad.status.name }}
        </div>
        <button>Edit</button>
        <button>Delete</button>
        <hr />

    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

