{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <h3>
        Showing ads for category <strong>{{ category.name }}</strong>
    </h3>

    {% for ad in ads %}

        <h2>
            <a href="{{ path('show_ad', {id: ad.id}) }}">
                {{ ad.title }}
            </a>
        </h2>
        <small>{{ ad.user.username }}</small>
        <div>
            <a href="{{ path('ads_in_category', {id: ad.category.id}) }}">
                {{ ad.category.name }}
            </a>
        </div>
        <p>{{ ad.shortDescription }}</p>
        <hr />

    {% endfor %}

{% endblock %}

